 <div class="container">
  <h1>Create a new article</h1>
</div>
<!--It uses the same partial HTML with edit, it's just that the button will show create instead of Save like before-->
<!--Displaying the form partial-->
<%= render 'form' %>
 