<h1>Create a new article</h1>
<!--It uses the same partial HTML with edit, it's just that the button will show create instead of Save like before-->
<!--Displaying the form partial-->
<%= render 'form' %>
<%= link_to 'Cancel and return to articles listing', articles_path %> 