
<h1>Hello World! </h1>
<h2>This is the home page</h2>
<p>Please add "/about" to the address bar to go to the About page</p>
<%=  link_to 'Articles list',  articles_path %><br>
<%=  link_to 'About',  about_path %>
  