<nav class="navbar-nav mr-auto nav-stacked" >
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
         <%= link_to "Bloggers", users_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Articles list", articles_path, class: "dropdown-item"  %>
          <% if logged_in? %>
           <%= link_to "New Article", new_article_path, class: "dropdown-item"  %>
          <% end %>
          <div class="dropdown-divider"></div>
        </div>
      </li>
 
              
       
    </ul>
</nav>