 
   
     <div class="sidebar-heading border-bottom bg-light"> <%= link_to "ALPHA BLOG", root_path  %></div>
     <div class="list-group list-group-flush">
     <%= link_to "Bloggers", users_path, class: "list-group-item list-group-item-action list-group-item-light p-3" %>
     <%= link_to "Articles list", articles_path, class: "list-group-item list-group-item-action list-group-item-light  p-3"  %>
        <% if logged_in? %>
            <%= link_to "New Article", new_article_path, class: "list-group-item list-group-item-action list-group-item-light  p-3"  %>
        <% end %>
    </div>